.col-1{
	--width: 12;
	background-color: blue;

	}

.col-2 {
	--width: 6;
	background-color: blueviolet;
}

.col-3{
	--width: 4;
		background-color: orchid;
}

.col-4 {
	--width: 3;
		background-color: orangered;
}

.col-2of3 {
	--width: 8;
	background-color: orange;
}

.col-3of4 {
    --width: 9;
	background-color: yellow;
}

	.order-1 {
		order: 1;
	}

	.order-2 {
		order: 2;
	}
	.order-3 {
		order: 3;
	}
	.order-4 {
		order: 4;
	}